
p.blah{color: red;}

form.va-search-form > div{text-align: left; background: lightgray; border-width: 1px; border-color: black;
display: flex; flex-direction: row; flex-wrap: wrap; }

.pointer:hover{cursor: pointer;}
.wait:hover{cursor: wait;}
.progress:hover{cursor: progress;}
#va-table-wrapper a {
    text-transform: capitalize;
}
#va-table-wrapper table {
    width: 90%; margin-right: 5%;
	margin-left: 5%; table-layout: auto;
}
#va-table-wrapper caption {
	 font-family: 'Libre Franklin', sans-serif;
}
#va-table-wrapper tr:nth-child(even) {
  background-color: rgba(0,0,0,.03);
}
#va-table-wrapper td {
	padding: 7px;
}
#va-table-wrapper tbody td:last-of-type {
    text-align: justify;
}
#va-table-wrapper tfoot {
    padding: 7px;
	font-family: 'Libre Franklin', sans-serif;
}
#va-table-wrapper tfoot > tr.va-table-message > td{width: 100%; background: green; color: white; text-align: center;}
#va-table-wrapper tfoot > tr.va-table-pagination{  background: #3FAFDE; width: 100%;}
#va-table-wrapper tfoot > tr.va-table-pagination > td{
width: 25em; background-color: inherit;
}
tr.va-table-pagination td.va-page-number{background-color: inherit; width: 30em;  color: orange;}
#va-table-wrapper tfoot td a {
    color:white;
	width: 100%;
    float: left;
}
#va-table-wrapper tfoot td a:hover {
    color: yellow;
}
#va-table-wrapper tfoot td a:active {
    color: red;
}
#va-table-wrapper caption {
    text-align: center;
    font-size: 20px;
    padding: 15px;
    font-weight: bold;
    border-bottom: 2px solid;
}
#va-table-wrapper a {
    text-decoration: underline;
}
#vso-results {
    text-align: center;
}
#vso-results p {
    padding: 0 7px;
}
#vso-results a {
    text-decoration: underline;
    color: orange;
}
#vso-results h6 {
	color: #777;
    font-size: 24px;
	font-family: 'Libre Franklin', sans-serif;
	font-weight:bold;
	 text-align: center;
    font-size: 20px;
    padding-top: 15px;
    font-weight: bold;

}

#va-table-wrapper a, #vso-results a, .card-body a  {
	color: #3FAFDE;
	background:transparent;
}
@media only screen and (max-width: 600px) {

}
